body{
  margin: auto;
  text-align: center;
  font-family: arial
}
header{
  background-color: black;
  padding: 1px;
  font-size: 20px;
}
header a{
  text-decoration:none;
  color: white;
}
nav li{
  display: inline;
  padding-right:30px;
  padding-left:30px;
  border-right: solid black   1px;
  font-size: 25px;
  font-weight: bold;

}
/*
nav{
  position:sticky;
  background-color: white;
  margin: auto;
  width: 1500px;
}
*/
nav a, main a{
  text-decoration:none;
  color: black;
}
nav a:hover{
  color: #434343;
  border-bottom: solid #BE9E55;
}
nav a.aktiv{
  border-bottom: solid #BE9E55;
}
nav ul{
  margin: auto;
  border-bottom: solid lightgrey;
  padding: 10px;
}
main{
  width: 1280px;
  margin: auto;
}
main p{
  font-size: 20px;
}
main.Hovedside{
  grid-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img.standardbilde{
  width: 100%;
  border-radius: 10px;
  border: solid black;
}
address{
  background-color: black;
  color: white;
  border-top: solid lightgrey;
}
address ul{
  list-style-type: none;
  display: inline;
}
main.Hovedside table{
  margin: auto;
  border-collapse: collapse;
  outline: 1px solid black;/*
  border:15px solid #10253d;*/
  background-color: white;
}
main.Hovedside td,main.Hovedside th{
  border-bottom: solid #10253d 1px;
  padding-right: 30px;
}
main.Hovedside td{
  padding-bottom: 5px;
  padding-top: 5px;
}
main.Hovedside tr:nth-child(2n+1){
  background-color: lightgrey;
}
main.Hovedside th{
  background-color:#10253d;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
}
main.Hovedside tr:hover{
  background-color: grey;
}
main.Stall{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  border-left: solid lightgrey;
  border-right: solid lightgrey;
}

main.Stall h1{
  grid-column: span 4;
}
a.Stall{
  border: solid darkgrey 10px;
  color: white;
  background-color: black;
  border-radius: 20px;
  margin-bottom: 100px;
}
a.Stall img{
  width: 95%;
  margin-top: 7px;
  border-radius: 10px;
}
a.Stall:hover{
  border: solid grey 10px;
  transform: scale(1.05 );
  transition: 0.15s;
}
dl.Spillerbeskrivelse table{
  border-collapse: collapse;
  margin:auto;
  width: 85%
 }
dl.Spillerbeskrivelse td{
  text-align: right;
}
dl.Spillerbeskrivelse th{
  text-align: left;
}
dl.Spillerbeskrivelse tr{
  border-bottom: 2px solid white;
}

.sosialemedier{
  height: 70px;
}

main.nyheter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}
main.nyheter a.nyhet:hover{
  background-color: black;
  color: white;

}
a.nyhet{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ddd;
  margin-bottom: 20px;
}
a.nyhet p{
  font-size: medium;
}
a.nyhet h1{
  border-bottom:5px solid #BE9E55;
  font-size: x-large;
}
a.nyehet section{
  padding-left: 15px;
  padding-right: 15px;
}
.litensak{
  width: 450px;
}


#lol{
  height: 500px;
}
#hovedsak img{
  width: 900px;
}
#hovedsak{
  grid-column: 2 span;
}
#logo{
  height: 100px;
  font: arial 100px bold;
}
#logo:hover{
  transform: scale( 1.2);
  transition: 0.2s;
}
#eliteserien{
  width: 30px;
}
#Serietabell{
  grid-column: span 2;
