body{
background-color: rgb(230,230,130)
}
main{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
}
h1{
  font-size: 70px;
  text-align: center;
  color: rgb(10,100,10);
  font-family:serif,sans-serif;
}
h2{
  text-align: left;
}
p{
  width: 300px
  color:#323232;
}
li,ul {
  margin: 5px;
  color: orange;
  list-style-type:square;
  border:2px solid darkgrey;
  border-radius: 5px;
}
li {
  background-color: lightgrey;
  width:100px;
}
ul{
  background-color: grey;
  width: 150px;
}
table{
  text-align: center;
  border-collapse: collapse;
  border:1px solid darkgrey;
  background-color: white;
}
td,th{
  border-bottom:1px solid  darkgrey;
}
tr:nth-child(even){
  background-color: lightgrey;
}
tr:hover{
  background-color: black;
  color: yellow;
  transition: 0.5s;
}
th{
  background-color: rgb(47,89,210);
}
article{
  padding: 25px;
}
img{
  width:150px;
}
img:hover{
  transform: rotate(770deg);
  transition: 3s;
  color: blue;
}
