main{
  /*annet*/
  width: 90%;
  padding:15px;
  background-color: #aae;
  margin: auto;

  /*grid*/
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 15px;
}
@media (max-width:1000px) {
  main{
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width:800px) {
  main{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:600px) {
  main{
    grid-template-columns: repeat(1,1fr);
  }
}
img{
  width: 100%;
}
article{
  text-align: center;
}
